*{
  margin:0px;
  padding:0px;
}

@font-face {
  font-family: 'Visuelt Pro Regular';
  src: URL('./font/VisueltPro-Regular.ttf') format('truetype');
}

*{
  font-family: "Raleway";
}

.link {
  text-decoration: none;
  color: inherit;
}

.AlreadyRegister{
  align-items: center;
  text-align: center;
  justify-content: center;
}

